 .nav-container{
     position: relative;
     margin: 10px;
     min-width: 260px;
 }
 .logo-container{
     margin-bottom: 20px;
 }
 .logo{
     font-weight: 900;
     margin: 20px 0px 10px 20px;
 }
 .menu-control-container{
     display: none;
     position: absolute;
    right: 10px;
    top: 0;
    font-size: 1.4rem;
}
@media screen and (max-width:800px){
    .logo{
        margin: 0px;
    }
    .menu-control-container{
     display: block;
    }
}